.example-form {
  width: 100%;
}
.planet-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: inherit;
}
.center-text {
  width: 100vw;
  text-align: center;
}
.example-full-width {
  width: 100%;
}
.display-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-center {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
